{% extends 'base.html'%}
{% load static %}

{% block Content %}
<div class="row" style="background:#151937">
    <h1 class="text-center text-light pb-2" style="border-bottom:1px groove white;">About Indian Cyber Security</h1>
    <div class="col-sm-2" style="background:#151937"></div>
    <div class="col-sm-8 bg-info " style="border:2px solid skyblue; font-family:impact; background:#151937">
        <h3 class="text-center mt-5 mb-5">
            The largest Cyber Security And IT News on the internet.<br><br>
            3 billion pages displayed each year.<br><br>
            10 million visitors each month.
        </h3>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row mt-5" style="background:#151937">
    <h1 class="text-center text-light" style="border-bottom:1px solid white;">What is Indian Cyber Security News?</h1>
    <div class="col-sm-2" style="background:#151937"></div>
    <div class="col-sm-8" style="background:#151937">
        <p class="text-center bg-info mt-3 mb-5" style="font-family:impact; font-size:22px;">
            We create simplified and interactive learning experiences.<br><br>

            Learning Cyber Security should be easy to understand and learning for everyone, everywhere!<br><br>

            Indian Cyber Security is a knowledgemnet for all Students, covering all the aspects of Cyber Security/IT
            News.
        </p>
    </div>
    <div class="col-sm-2" style="background:#151937"></div>
</div>
<div class="row mt-5">
    <div class="col-sm-6" style="background:#151937;">
        <h2 class="text-center mt-2 text-info pb-3" style=" border-bottom:1px solid white;">Easy To Read And Learn</h2>
        <p class="text-center bg-info" style="font-family:impact; font-size:22px;">
            Indian Cyber Security has focus on simplicity.<br><br>

            Indian Cyber Security practice easy Reading.<br><br>

            Indian Cyber Security uses simple languages and simple illustrations of how to read it.<br><br>

            Indian Cyber Security Have all IT News or Hacking News for your safity and security.....
        </p>
    </div>
    <div class="col-sm-6" style="background:#151937;">
            <h2 class="text-center mt-2 text-info pb-3" style=" border-bottom:1px solid white;">You Can Help</h2>
            <p class="text-center bg-info" style="font-family:impact; font-size:22px;">
                Many people work very hard to ensure Indian Cyber Security remains useful, updated, and interesting.<br><br>

                If you find an error, or a broken link, please tell us about it.<br><br>

                Use the link "REPORT ERROR" at the bottom of each page.<br><br>

                Then we will fix that bugs/ and error...<br>

                Thanks You...
            </p>
    </div>
</div>
<div class="row mt-5" style="background:#151937;">
    <h2 class="text-center mt-2 text-info pb-3" style=" border-bottom:1px solid white;">
            Add a Link to Us
    </h2>
    <p class="text-center bg-info" style="font-family:impact; font-size:22px;">
        If you want others to discover Indian Cyber Security, please add a link to us.<br><br>

        To add a simple text link, insert the following HTML code on your site:<br><br>
    </p>
    <div class="col-sm-12 mt-3">
        <h2 class="text-center mt-2 text-info pb-3" style=" border-bottom:1px solid white;">
            Indian Cyber Security is Free
        </h2>
        <p class="text-center bg-info" style="font-family:impact; font-size:22px;">
            Indian Cyber Security is, and will always be, a completely free developers resource.<br><br>

            Indian Cyber Security was created in 2019, and derives its name from the World Wide Web (WWW) but is not affiliated with the W3C.
        </p>
    </div>
</div>

{% endblock %}
