{% extends 'base.html' %}
{% load static %}
{% block Content %}
<div class="row">
        <h2 class="text-center text-light  attack">Attacks In India Last 10 Years (2004-2015)</h2>
        <h4 class="text-center"><i>India was ranked third worldwide</i>, next to US and China, as a source of malicious
            activity in 2015, according to this 2016 report by Symantec Corp, a software security firm
            Cyber crimes reported in India rose 19 times over the last ten years (2005 to 2014), from 481 in 2005 to hello
            9,622
            in 2014, and India is now ranked third – after the US and China – as a source of “malicious activity” on the
            Internet and second as a source of “malicious code”</h4>
        <div class="col-sm-12" style="background:rgba(0,0,0,0.5)">
            <h3 class="text-center text-light attack" style="margin-top:20px; border:1px double blue; background:#151937">
                Malicious
                Activity By Source:
                Global Ranking</h3>
            <center><img src="{% static 'images/global2.PNG' %}" style="height:300px; width:500px; border-radius:5px;">
            </center>
            <ul class="pt-5 bg-info mt-2">
                <li>India was ranked second as a source of malicious code and fourth and eight as a source or origin for
                    web
                    attacks and network attacks, respectively, in 2015.
                </li>
                <li>India reported 11,58,208 cyberattacks in 2020 [CERT-In Report] 2.</li>
                <li> An average of 3,137 cybersecurity related issues were reported everyday in 2020 [CERT-In Report]
                    3
                </li>
                <li>It costs Indian organisations an average of Rs.14 crore per data breach.[CERT-In Report]</li>
            </ul>
            <h2 class="text-center bg-light text-danger border-bottom">Cyber-attacks in the past year cost 62% SMBs in
                India over
                ₹3.5 crore: Report</h2>
            <b><p class="pt-2 bg-info text-center" style="font-size:20px;">
                Small and medium-sized businesses (SMBs) in India are increasingly concerned about cybersecurity
                threats,
                according to a new study by Cisco titled ‘Cybersecurity for SMBs: Asia Pacific Businesses Prepare for
                Digital Defense’.For two in three (62 per cent) SMBs in India that suffered cyber incidents in the past
                12
                months, these cyber-attacks cost their business more than ₹3.5 crore. Of these, 13 per cent say that the
                cost was over ₹7 crore.
            </p></b>
            <b><p class="pt-2  bg-info text-center" style="font-size:20px;">
                Besides the loss of customer data, SMBs that suffered a cyber incident also lost internal emails (73 per
                cent), employee data (71 per cent), intellectual property (74 per cent), and financial information (75
                per
                cent). In addition, 73 per cent of those said it disrupted their operations, 76 per cent admitted it
                negatively impacted their reputation, and more than half (70 per cent) said it resulted in a loss of
                customer trust.
            </p></b>
            <h1 class="text-center text-danger border-bottom bg-light">Malware attacks</h1>
            <b><p class="pt-2 bg-info text-center" style="font-size:20px;">The study further highlighted that attackers
                tried to
                infiltrate the systems of SMBs in several ways. In
                India, malware attacks, which affected 92 per cent of SMBs, topped the charts, followed by phishing (76
                per
                cent).The primary cause for security incidents for 38 per cent of those that suffered such incidents was
                not
                having cybersecurity solutions.Meanwhile, 36 per cent ranked cybersecurity solutions not being adequate
                to
                detect or prevent the attack as the number one reason.<br>“As they digitise, SMBs are embracing the fact
                that any transformation, especially one that allows them to meet customers where they are and build
                trust,
                must begin with cybersecurity,” said Panish PK, Managing Director – Small Business, Cisco India &
                SAARC.“However, given that they typically operate with limited resources and smaller teams, simplicity
                is
                the key to successful security deployments. According to the study, most SMBs (97 per cent) feel that
                they
                have too many technologies and struggle to integrate them,” the Cisco executive said.
            </p></b>
        </div>
</div>
{% endblock %}