{% extends 'base.html' %}
{% load static %}
{% block Content %}
<div class="row text-info bg-dark">
    <h1 class="text-center border-bottom">
        Top 5 Countries with Most Dangerous Hackers in the World !
    </h1>
    <b class="mt-4 text-light text-center" style="font-size:20px;"><b style="font-size:20px;">Top 10 countries with the
        best hackers in the world. These are countries
        where you will
        find hackers that have
        managed to perfect their skills when it comes to breaching the security systems setup of companies on the
        internet.</b>
    </b>
    <ol class="pt-4">
        <li>
            <b style="color:Yellow; font-size:20px;">CHINA :</b><b style="font-size:20px;"> China has been discovered by
            experts to have the most hackers when
            compared to the rest of the
            countries around the world. Most of the cyber attacks being experienced on the internet can be traced to
            China. It makes up a whopping 41% of such attacks. Most people claimed that the majority of the groups that
            are into hacking seem affiliated to the Chinese military. The same way technology seems to be advancing in
            China, that is how hacking is also growing even though the country’s media has claimed otherwise.</b>

            <center><img src="{% static 'images/hack1.jfif' %}"
                         style="height:400px; width:500px; border:2px double purple;"></center>
            <br><br>
        </li>
        <li>
            <b style="color:Yellow; font-size:20px;">UNITED STATE : </b><b style="font-size:20px;">There was a time when
            the US claimed it had all the equipment
            and
            tools about the cyber world. This could be true based on the fact that cyber attacks being experienced by
            the US in recent times are sophisticated in lots of ways with Stuxnet being a perfect example. Another
            instance is the planting of Trojan in the nuclear power plant of Iran to get the centrifuges disrupted.
            About 10% of the cyber attacks being experienced in the world today has been traced to the US.</b>

            <center><br><img src="{% static 'images/hack2.jfif' %}"
                             style="height:400px; width:500px; border:2px double purple;"></center>
            <br><br>
        </li>
        <li>
            <b style="color:Yellow; font-size:20px;">TURKEY : </b><b style="font-size:20px;">Turkey seems to be rising
            very fast when it comes to technology
            compared to the past. It is evident in the activities of hacking, which has increased tremendously over the
            past ten years. This development has put it in position number three among other countries in the world. The
            percentage of cyber crimes that the world experiences which can be traced to turkey is about 4.7%.</b>

            <center><br><img src="{% static 'images/hack3.jfif' %}"
                             style="height:400px; width:500px; border:2px double purple;"></center>
            <br><br>
        </li>
        <li>
            <b style="color:Yellow; font-size:20px;">RUSSIA : </b><b style="font-size:20px;">Russia is occupying
            position number
            four, and this is due to its DNC hack as one of the factors. It was a hack that generated fears about the US
            last elections being rigged. There are lots of cases where Russia has been found guilty of hacking based on
            available evidence. For instance, there are several instances where the Russians have hacked secured
            websites. These could be Facebook, Apple, and Google. According to IT experts, Russia makes up about 4.7% of
            hacking that is being experienced in the world.</b>

            <center><br><img src="{% static 'images/hack4.jpg' %}"
                             style="height:400px; width:500px; border:2px double purple;"></center>
            <br><br>
        </li>
        <li>
            <b style="color:Yellow; font-size:20px;">TAIWAN : </b><b style="font-size:20px;">Taiwan may be a tiny
            country, but that doesn’t stop it from taking a spot among the countries with the highest number of hackers.
            Over the years, it is proving to be a little Island where hackers tend to find converge and carry out their
            cyber plans. It may shock you to know that the cyber attacks that can be traced to Taiwan are about 3.7%.
            Given the population of this country, one will begin to imagine whether everyone is a hacker.</b>

            <center><br><img src="{% static 'images/hack5.jpg' %}"
                             style="height:400px; width:500px; border:2px double purple;"></center>
            <br><br>
        </li>
    </ol>
</div>
{% endblock %}