{% extends 'base.html' %}
{% load static %}
{% block Content %}
<div class="row">
    <h2 class="text-center text-light heading" style="border-bottom:1px solid blue;">Best Hacking Devices With New Technology Are In India
        Now.... </h2>
    <div class="col-sm-6">
        <h1 class="text-center mt-4 text-light heading" style="font-family:impact;">iPhone, iPad GPS Spy Audio USB Cable (Lightning)</h1>
        <img src="{% static 'images/device1.jpg' %}" class="box" height="300px;" width="500px;" border="1px solid blue;"
             style="margin-left:30px;">
        <b><p class="text-center pt-4 pl-3 pr-3 pb-3 text-dark">At initial glance, this hacking device looks like your
            typical Lightning USB port for mobile devices
            . However, it features a very well concealed SIM-card slot, combined with a GPS device and a real-time
            tracking via GPRS system. The way this hacking device operates is you have to insert your SIM card within
            the cable. Since this SIM card has, it’s own cell-phone number, you can call it every-time you want to see
            if the device is connected with it and listen-in on all the sound. However, since you may not know when the
            victim connects his/her mobile device so that you can call, the cable also offers a voice-activated
            Callback.This works fairly simple – when you text the code “1111” to the phone number of the SIM card
            connected to
            the cable, it will trigger this service. The service automatically detects if there is sound over 45
            decibels
            and if there is, the SIM-card automatically dials your phone number, so that you can listen in. And more to
            it
            than that, you can also text “DW” to receive direct location of the phone and the cable connected to it via
            GPS.</p></b>
    </div>
    <div class="col-sm-6">
        <h1 class="text-center mt-4 text-light heading" style="font-family:impact;">AntMiner S4 BitCoin Mining Hacking Devices</h1>
        <img src="{% static 'images/device2.jpg' %}" class="box" height="300px;" width="500px;" border="1px solid blue;"
             style="margin-left:40px;">
        <b><p class="text-center pt-4 pl-3 pr-3 pb-3 text-dark">
            If there is a hacking device that would best represent the revolution of cryptocurrencies, this is the
            AndMiner by BitMain. This hacking device has been used so much that there are factories mining BitCoin with
            It and similar hacking devices all over the Globe. The massive adoption of mining software for the
            CryptoCurrency BitCoin has resulted In a total surge of its price, and it’s massive adoption for a payment
            method, following many alternative crypto coins, like Ethereum, Ripple, and Litecoin. The hacking device
            itself is among the best sought after ones, because of its power (2000 giga hashes per second) for the price
            it is offered. And it’s simple configuration is just a bonus to it all – all you have to do is set up the
            mining pool information in the hacking device, add it’s own IP address and you can start making money out of
            thin air. Many BitCoin farms using such hacking devices are already making millions per month, especially
            countries with low electricity costs.
        </p></b>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h1 class="text-center mt-4 text-light heading" style="font-family:impact;">RoadMASSter-3 Forensic Hard Drive
            Acquisition/Duplicator and Analysis</h1>
        <img src="{% static 'images/device3.jpg' %}" class="box" height="300px;" width="500px;" border="1px solid blue;"
             style="margin-left:40px; margin-top:20px;">
        <b><p class="text-center pt-4 pl-3 pr-3 pb-3 text-dark">
            Appropriate for both law enforcement investigators and data thieves, the RoadMASSter-3 mobile duplicator is
            the best suitcase of goods you can have with you when you want to create a duplicate hard drive of a device
            you previously have obtained. It also works well if you want to make a reserve backup of large data from one
            big drive to another, making it possible to support large databases and networks. The hacking device is
            completely portable, has a large screen and a package of different programs that are used to unlock various
            hard drives and SSD drives. It also has support for various media files, hashing capabilities while on the
            move, powerful processor and works with FireWire, USB, IDE, SATA, SAS plus SCSI.
        </p></b>
    </div>
    <div class="col-sm-6">
        <h1 class="text-center mt-4 text-light heading" style="font-family:impact;">NooElec NESDR Mini 2 USB RTL-SDR Hacker Gadget</h1>
        <img src="{% static 'images/device4.jpg' %}" class="box" height="300px;" width="500px;" border="1px solid blue;"
             style="margin-left:40px; margin-top:20px;">
        <b><p class="text-center pt-4 pl-3 pr-3 pb-3 text-dark">Working as an advanced antenna that can be configured to
            listen in to any radio frequency it connects to,
            the NooElec is the perfect radio sniffing tech if you want to be portable and always listening. Primarily
            used to scan for police frequencies and other custom radio frequencies. A Very sensitive tool which also has
            the support for ADS-B scanning, trunking satellite images, and other radio-frequency related activities.
        </p></b>
    </div>
    <div class="col-sm-6">
        <h1 class="text-center text-light mt-4 heading" style="font-family:impact;">SD Sniffing Hacking Device</h1>
        <img src="{% static 'images/device5.jpg' %}" class="box" height="300px;" width="500px;" border="1px solid blue;"
             style="margin-left:40px; margin-top:20px;">
        <b><p class="text-center pt-4 pl-3 pr-3 pb-3 text-dark">
            Created by SparkFun his extremely well-designed hacking device, looks small and rather simple, but it is
            created to extract important information from sophisticated devices, like logic analyzers and micro
            controllers. The way this SD sniffer works is that it monitors the SPI traffic, responsible for the packets,
            enabling it to capture crucial information which if not properly encrypted can result in the hacker
            obtaining credentials as well as system information from the targeted device. But this can work as long as
            the device has an SD socket in it with an SD card into this socket.
        </p></b>
    </div>
    <div class="col-sm-6">
        <h1 class="text-center text-light mt-4 heading" style="font-family:impact;">Wireless Password Cracker Antenna</h1>
        <img src="{% static 'images/device6.jpg' %}" class="box" height="300px;" width="500px;" border="1px solid blue;"
             style="margin-left:40px; margin-top:20px;">
        <b><p class="text-center pt-4 pl-3 pr-3 pb-3 text-dark">
            This password cracker is probably not exactly one of the newer inventions, but it is still as effective and
            as used as it was when such hacking devices first appeared in public. Supporting the USB 2.0 standard, this
            hacking device works with WEP, WPA, WPA2, TKIP and even AES encryption. It has a wide compatibility for
            operating systems it works with as well. The hacking device can run on Linux, Windows versions from 2000 up
            until 8 and MacOS 10.5 and 10.5. Irreplaceable for wardriving brute forcing or any type of Wi-Fi attacking.
        </p></b>
    </div>
</div>
{% endblock %}