{% extends 'base.html'%}
{% load static %}

{% block Content %}
<div class="row">
    <div class="h2 text-center mb-4" style="border:2px solid purple; font-family:impact"><i class="fa fa-video"></i>
        Video Gallery (Global)
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-100" src="https://www.youtube.com/embed/CI6MpuwQVFk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-100">Hackers demand $70 million ransom in Kaseya cyberattack | DW
                    News</h5>
                <p class="card-text w-100">Russia Gang Linked to Ransomeware Attack</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-100" src="https://www.youtube.com/embed/SI4JUM5Tf8s"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-100" style="font-size:15px;">
                    <b>Hacker News | Pro India hacker group expands mobile malware Arsenal - ICSS</b>
                </h5><br>
                <p class="card-text w-80">The malware, which the researchers have dubbed SunBird and Hornbill....</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/p_5kRVUuI5Y"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:15px;">
                    <b>PM Modi inaugurates CIPET: Institute of Petrochemicals Technology in Jaipur, Rajasthan </b>
                </h5>
                <p class="card-text w-100">Prime Minister Shri Narendra Modi will inaugurate CIPET: Institute of
                    Petrochemicals Technology....</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/nUQJQpTnMlg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:15px;">
                    <b>Experts warn of new cyber-attack threats </b>
                </h5>
                <p class="card-text w-100">Further large-scale disruption in the wake of Friday's ransomware computer
                    attack appears to have been averted.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/8J1x9Nh4HHA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:15px;">
                    <b>Gravitas: 'Decryption' & The 'privacy Vs Security' Debate In India </b>
                </h5>
                <p class="card-text w-100">Indian Government & Facebook Spar Over Decryption Debate
                    The decryption debate at India's Apex Court has brought to fore - the privacy versus security
                    debate.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/PeyPcomQrUU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:15px;">
                    <b>US government warns of growing cyber threats </b>
                </h5><br>
                <p class="card-text  w-100">The Department of Homeland Security warned that foreign adversaries are
                    looking for cyber vulnerabilities.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/jZjPFcmUqEY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:15px;">
                    <b>What led to the worst cyber attack in US? | Multiple US agencies hacked in massive cyber
                        attacks</b>
                </h5>
                <p class="card-text  w-100" style="font-size:14px;">It's been a little over a week since the US
                    government discovered that
                    several of it's agencies were the target of one of the biggest cyber attacks that the country has
                    ever seen</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/J5CSt_bwsVo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:18px;">
                    <b>Evolving a Desert Into a Leader of Innovation | It’s Possible: Innovation</b>
                </h5><br>
                <p class="card-text w-100">What was once a desert is now a birthplace of technology, innovation, and
                    sustainability.....</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="h2 text-center mb-4" style="border:2px solid purple; font-family:impact"><i class="fa fa-video"></i>
        Some Short Tricks For Student...
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/fRFgTQHRQtQ"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:18px;">
                    <b>Zoom Hacks And Tricks || 👨‍🎓Students Edition🏫 | Tanmay Waghmare</b>
                </h5><br>
                <p class="card-text w-100">Some Cool Zoom Hacks And Tricks Which Can Save You from the Boring Online
                    classes😂😂. How To Get Rid Of Online Classes?</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/FSV1ojHeBN8"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:18px;">
                    <b>Google Meet Hacks for Students Online Exam Tricks</b>
                </h5><br>
                <p class="card-text w-100 mt-3">How to do Split Screen during attending the online tests, Use Google
                    meet
                    Split screen during the exam, presenting. </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/fFNwQPwZrRg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:18px;">
                    <b>STUDY HACKS|| EXAM HACKS|| TIPS AND TRICKS TO STUDY BETTER|| TRIED AND TESTED WAYS</b>
                </h5><br>
                <p class="card-text w-100 ">Hey guys...
                    I'm back with another very useful video for all the students.. </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 video">
        <div class="card">
            <iframe class="card-img-top w-80" src="https://www.youtube.com/embed/WDKy57wfEtE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title w-80" style="font-size:15px;">
                    <b>Every student must know this hack</b>
                </h5><br>
                <p class="card-text w-100" style="font-size:14px;">Hey guys...
                    Are you a student and need a hack to write your assignments and get all the marks you want!
                    This tool by Saurabh Daware on GitHub is the open-source tool that converts your TYPED TEXT into a HANDWRITTEN TEXT! </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
