{% extends 'base.html'%}
{% load static %}

{% block Content %}

<div class="row" style="background:#151937;">
    <h1 class="text-center text-light border-bottom">NASA HACKS</h1>
    <h3 class="text-center mt-2 text-light">Jonathon James hacks NASA</h3>
    <center><img src="{% static 'images/news1.jpg' %}" style="height:500px; width:700px; border:0.5px solid blue;">
    </center>
    <b class="mt-3 text-center text-warning">
        Known by the hacker name c0mrade, Jonathon James was 16 when, in 1999, he hacked into the Marshall Space Flight
        Center in Huntsville, Alabama, and downloaded proprietary software for the International Space Station. The
        software supported the International Space Station's physical environment and was responsible for critical
        control of humidity and temperature for living in space. NASA officials valued the documents stolen by James at
        around $1.7 million. The incident forced NASA to shut down its computer systems for three weeks and cost them
        about $41,000 to fix
    </b>
    <h1 class="text-center text-light border-bottom"> IT Rules</h1>
    <h3 class="text-center text-light">Twitter to Delhi HC: Have complied with IT Rules</h3>
    <center><img src="{% static 'images/twitter.jfif'9ok8jihuygtrfedzwsqaqEDRT5HUKO[-;]='\'[OKUTRAQ  %}" style="height:500px; width:700px; border:0.5px solid blue;">
    </center>
    <b class="mt-3 text-center text-warning">The Centre has informed the Delhi High Court that Twitter has appointed
        Chief Compliance Officer (CCO), Resident
        Grievance Officer (RGO), and Nodal Contact Person in compliance with the new IT Rules. The Ministry of
        Electronics and Information Technology (MEITY), in a short affidavit, said Twitter has acknowledged that the
        personnel (CCO, Nodal Contact Person, and RGO) are appointed as the company's employees and not as 'contingent
        workers'.

        "Twitter has provided the names of the said appointed personnel and their respective positions also. The said
        affidavit (of Twitter) mentions their employment start date as August 4, 2021. Twitter has further enclosed
        their employment contracts along with the said affidavit as proof of such appointments," the ministry said.

        The court had on August 10 directed the Centre to file a short affidavit in response to Twitter's affidavit in
        which the company had shown compliance with IT Rules.

        "I submit that Twitter has appointed the personnel in compliance to the Information Technology (Intermediary
        Guidelines and Digital Media Ethics Code) Rules, 2021 hereinafter referred as IT Rules, 2021," N Samaya
        Balan
    </b>
    <h1 class="text-center text-light border-bottom">Information Technology</h1>
    <h3 class="text-center text-light">Madras high court bats for freedom of media, stays operation of new IT rule</h3>
    <center><img src="{% static 'images/tech1.jpg' %}" style="height:500px; width:700px; border:0.5px solid blue;">
    </center>
    <b class="mt-3 text-center text-warning">CHENNAI: The Madras high court has remained the activity of the oversight
        instrument acquired through the new Information Technology Act Rules by the Union government, saying it might
        deny the media of its freedom. “…the Fourth Pillar, so to say, of democracy may not at all be there,” the
        principal seat of Chief Justice Sanjib Banerjee and Justice P D Audikesavalu said on Thursday. The court
        mentioned the observable facts while passing the between time request remaining the activity of Rule 9 (1) and
        (3) of the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021. Pointing
        out that a comparable request has likewise been passed by the Bombay high court, the seat said, “Indeed, there
        may have been no need to pass an independent order. However, it is submitted on behalf of the petitioners that
        notwithstanding the order passed by the Bombay HC, which ought to have a pan-India effect, notices have been
        issued to the petitioners subsequently requiring them to adhere to the rules.” The issue relates to two separate
        supplications moved by entertainer T M Krishna and Digital News Publishers Association (DNPA) testing the
        guidelines. It should be recorded with all reasonableness that the extra specialist general addressing the Union
        acknowledges that the request for the Bombay high court has a container India impact, the court added. The issue
        relates to two separate supplications moved by entertainer T M Krishna and Digital News Publishers Association
        (DNPA) testing the guidelines. Krishna fought that the standard is ultra vires the parent act — the Information
        Technology Act — other than forcing subjective, ambiguous and absurd limitations on computerized news media and
        web-based media go-betweens. “The code of ethics contained in Part II of the rules is likely to create a
        chilling effect on speech, where creators of content will self-censor themselves and produce art that is
        acceptable to the state, rather than art which, otherwise legitimate, pushes the boundaries of societal,
        religious, political and cultural norms,” Krishna said. He added that the guidelines annoy his right as a
        craftsman and a social/political reporter by forcing a chilling impact on free discourse and by impinging to his
        right side to protection.
    </b>
    <h1 class="text-center text-light border-bottom">BitCoin</h1>
    <h3 class="text-center mt-2 text-light">Bitcoins worth ₹9 crore seized from hacker</h3>
    <center><img src="{% static 'images/bitcoin.jpg' %}" style="height:500px; width:700px; border:0.5px solid blue;">
    </center>
    <b class="mt-3 text-center text-warning">
        Bitcoins Worth Rs 9 Crore Seized From 25-Year-Old Bengaluru Hacker: Cops The hacker's handiwork includes four
        hacked websites and three malware exploited. (Representational) Bengaluru: The Karnataka Police has seized
        Bitcoins worth ₹ 9 crores from a 25-year-old hacker, Bengaluru senior police official (Crime) Sandeep Patil
        informed on Friday. The hacker, Srikrishna alias Shreeki, was arrested on November 18 for allegedly breaking
        into government websites, online gaming portals and websites. "During the investigation, it has been found that
        hacker Srikrishna hacked three Bitcoin exchanges and 10 poker sites. Bitcoins worth ₹ 9 crores have been seized
        in this matter," Mr Patil said. The hacker's handiwork includes four hacked websites and three malware
        exploited.
    </b>
</div>
{% endblock %}